@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

section {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.img-hero {
  flex-basis: 45%;
}

.img-hero img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

aside {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

aside h1 {
  font-size: 128px;
  font-weight: 400;
  color: #008037;
  margin-top: -100px;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  border: 3px solid #008037;
  border-radius: 50px;
  padding: 5px 8px;
  height: 32px;
  width: 250px;
  margin-bottom: 25px;
  justify-content: center;
}

input:focus {
  outline: #008037;
}

form > button {
  margin: 0 auto;
  background-color: #008037;
  color: #ffffff;
  border: none;
  width: 100%;
  font-size: 24px;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}

.link-register {
  text-decoration: none;
  font-size: 17px;
  color: #008037;
}
